.center {
    text-align: center;
}


button.hidden-until-hover {
    background-color: transparent;
    border:none;
    color:transparent;
}

button.hidden-until-hover:hover {
    background-color: initial;
    border:initial;
    color:initial;
}

.nav {
    list-style-type: none;
    margin: 1vw;
    padding: 1vh;
}

a:visited, li {
    color:inherit;
    text-decoration: none;
}

body {
    background-color: #baeef7;
}

.buy-button {
    font-size: x-large;
}

.gallery-table {
    margin-left: auto;
    margin-right: auto;

}
.gallery-table th, .gallery-table td {
    padding: 1vh;
}

.dne {
    background-color: green;
    color: white;
}

.exists {
    background-color: red;
    color: white;
    text-decoration: none;
}

.exists a:link {
    color: white;
}

.exists a:visited {
    color: white;
}

.real-table th {
    border: 1px solid;
    padding: 2vh;
}

.real-table td {
    border: 1px solid;
    padding: 2vw;
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/transform */

/* make sure each item fits in its cell */
.gallery-image, .gallery-item {
    height: 25vh;
    object-fit:cover;
    width: 20vw;
}

/* make sure they are positioned right and specify the transition */
.gallery-item-cont {
    height: 100%;
    position: relative;
    text-align: center;
    transform-style: preserve-3d; /* keeps in same plane */
    transition: transform 0.45s;
    width: 100%;
   
}

/* when the item is hovered on, transform the container */
.gallery-item:hover .gallery-item-cont {
    transform: rotateY(180deg);
}
.gallery-item-back {
    transform: rotateY(180deg);
}

.gallery-item-front, .gallery-item-back {
    backface-visibility: hidden; /* dont show the other image flipped */
    position: absolute; /* stay in place */
}

.classical-font {
    font-family: 'Times New Roman', Times, serif;
    font-variant: small-caps;
    font-weight: 600;
}

.comic-sans {
    font-family: 'Comic Sans MS', 'Comic Sans', 'cursive'; 
}