.center {
    text-align: center;
}


button.hidden-until-hover {
    color:transparent;
    background-color: transparent;
    border:none;
    
}

button.hidden-until-hover:hover {
    color:initial;
    background-color: initial;
    border:initial;
}

.nav {
    margin: 1vw;
    padding: 1vh;
    list-style-type: none;
}

a:visited, li {
    text-decoration: none;
    color:inherit;
}

body {
    background-color: #baeef7;
}

.buy-button {
    font-size: x-large;
}

.gallery-table {
    margin-left: auto;
    margin-right: auto;

}
.gallery-table th, .gallery-table td {
    padding: 1vh;
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/transform */

/* make sure each item fits in its cell */
.gallery-image, .gallery-item {
    width: 20vw;
    height: 25vh;
    object-fit:cover;
}

/* make sure they are positioned right and specify the transition */
.gallery-item-cont {
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;

    transition: all 0.45s;
    transform-style: preserve-3d; /* keeps in same plane */
}

/* when the item is hovered on, transform the container */
.gallery-item:hover .gallery-item-cont {
    transform: rotateY(180deg);
}
.gallery-item-back {
    transform: rotateY(180deg);
}

.gallery-item-front, .gallery-item-back {
    position: absolute; /* stay in place */
    backface-visibility: hidden; /* dont show the other image flipped */
}

.classical-font {
    font-family: 'Times New Roman', Times, serif;
    font-variant: small-caps;
    font-weight: 600;
}