.test {
    color: purple;
}


button.hidden-until-hover {
    color:transparent;
    background-color: transparent;
    border:none;
    
}

button.hidden-until-hover:hover {
    color:initial;
    background-color: initial;
    border:initial;
}